*.o
.cache/
.vs/
.vscode/
.DS_Store

build/
build-em/
build-debug/
build-release/
build-sanitize-addr/
build-sanitize-thread/

main
stream
command
bench
sync.sh
compile_commands.json

examples/arm_neon.h
examples/whisper.objc/whisper.objc.xcodeproj/xcshareddata
examples/whisper.objc/whisper.objc.xcodeproj/xcuserdata/
examples/whisper.objc/whisper.objc.xcodeproj/project.xcworkspace/xcuserdata

resources/
tmp/
results/

# ここからcmake, makeで生成されるファイル
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
libwhisper.so
Makefile
bindings/cmake_install.cmake
bindings/Makefile
bindings/CMakeFiles/CMakeDirectoryInformation.cmake
bindings/CMakeFiles/progress.marks
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeOutput.log
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/progress.marks
CMakeFiles/TargetDirectories.txt
CMakeFiles/3.22.1/CMakeCCompiler.cmake
CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.22.1/CMakeSystem.cmake
CMakeFiles/3.22.1/CompilerIdC/a.out
CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.22.1/CompilerIdCXX/a.out
CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/whisper.dir/build.make
CMakeFiles/whisper.dir/cmake_clean.cmake
CMakeFiles/whisper.dir/compiler_depend.make
CMakeFiles/whisper.dir/compiler_depend.ts
CMakeFiles/whisper.dir/depend.make
CMakeFiles/whisper.dir/DependInfo.cmake
CMakeFiles/whisper.dir/flags.make
CMakeFiles/whisper.dir/ggml.c.o.d
CMakeFiles/whisper.dir/link.txt
CMakeFiles/whisper.dir/progress.make
CMakeFiles/whisper.dir/whisper.cpp.o.d
examples/cmake_install.cmake
examples/CTestTestfile.cmake
examples/Makefile
examples/CMakeFiles/CMakeDirectoryInformation.cmake
examples/CMakeFiles/progress.marks
tests/cmake_install.cmake
tests/CTestTestfile.cmake
tests/Makefile
tests/CMakeFiles/CMakeDirectoryInformation.cmake
tests/CMakeFiles/progress.marks
Makefile
